<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Hello
<!-- tag::usernameTag[] -->
<span th:text="${username}" th:remove="tag">[Username]</span>,
<!-- end::usernameTag[] -->
this is the current date
<!-- tag::dateTag[] -->
<span th:text="${#temporals.format(currentDate, 'dd-MM-yyyy HH:mm')}">[currentDate]</span>
<!-- end::dateTag[] -->
</p>
<!-- tag::ifTag[] -->
<div th:if="${username.startsWith('z')}">Your name starts with a lower-case z, unusual!</div>
<!-- end::ifTag[] -->
</body>
</html>